.logon-container {
    width: 100%;
    max-width: 1120px;
    /* o 100 vh faz com que ocupe a altura maxima do corpo */
    height: 100vh;
    margin: 0 auto;

    /* Tenho que colocar o display em flex para poder usar os comandos abaixo.
       Quando coloco display flex, todos os itens que estao dentro do div com essa
       classe ficarao um ao lado do outro a menos que eu use

       flex-direction: columns;
    */
    display: flex;
    /* esse comando faz com que o itens sejam alinhados verticalmente ao centro */
    align-items: center;
    /* Esse comando faz com que os itens sejam alinhados horizontalmente ao centro */
    justify-content: space-between;
}

.logon-container section.form {
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}
